# ----------------------
# Current aliases
# ----------------------
alias l='ls'
alias ll='ls -l'
alias la='ls -la'
# ----------------------
# Git Aliases
# ----------------------
alias ga='git add'
alias gaa='git add .'
alias gaaa='git add --all'
alias gau='git add --update'
alias gb='git branch'
alias gbd='git branch --delete'
alias gc='git commit'
alias gcm='git commit --message'
alias gcf='git commit --fixup'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcom='git checkout master'
alias gcos='git checkout staging'
alias gcod='git checkout develop'
alias gco--='git checkout --'
alias gd='git diff'
alias gda='git diff HEAD'
alias gi='git init'
alias glg='git log --graph --oneline --decorate --all'
alias gld='git log --pretty=format:"%h %ad %s" --date=short --all'
alias gm='git merge --no-ff'
alias gma='git merge --abort'
alias gmc='git merge --continue'
alias gp='git pull'
alias gpd='git pull origin develop'
alias gpr='git pull --rebase'
alias gr='git rebase'
alias gs='git status'
alias gss='git status --short'
alias gst='git stash'
alias gsta='git stash apply'
alias gstd='git stash drop'
alias gstl='git stash list'
alias gstp='git stash pop'
alias gsts='git stash save'
alias gpod='git push origin develop'

# -----------
# Composer and Symfony
# -----------
alias composer="php /usr/local/bin/composer.phar"
alias syconsole="php bin/console"

# ----------------------
# Angular Functions
# ----------------------
alias ngsp='ng serve --port'
alias ngsa='ng serve --port 80 --host 0.0.0.0'
alias ngs='ng serve'

# ----------------------
# Scripts shortcuts
# ----------------------
alias z='. ~/.local/z/z.sh'

# ----------------------
# Tmux shortcuts
# ----------------------
alias tm="tmux"
alias rm-node-modules-recursive="find . -name 'node_modules' -type d -prune -exec rm -rf '{}' +"

# ----------------------
# Config shortcuts
# ----------------------
alias zshconfig="nvim ~/.zshrc"
alias ohmyzsh="nvim ~/.oh-my-zsh"
alias vimconfig="nvim ~/.vimrc"
