# ----------------------
# Common aliases
# ----------------------
alias l='ls'
alias ll='ls -l'
alias la='ls -la'

# -----------
# Composer and Symfony
# -----------
alias gim='vim . +Git +only'
# Quit console like in vim
alias :q='exit'
alias q='exit'


# -----------
# Composer and Symfony
# -----------
alias syconsole="php bin/console"

# ----------------------
# Angular Functions
# ----------------------
alias ngsp='ng serve --port'
alias ngsa='ng serve --port 80 --host 0.0.0.0'
alias ngs='ng serve'

# ----------------------
# Tmux shortcuts
# ----------------------
alias tm="tmux"
alias rm-node-modules-recursive="find . -name 'node_modules' -type d -prune -exec rm -rf '{}' +"

# ----------------------
# Config shortcuts
# ----------------------
alias zshconfig="nvim ~/.zshrc"
alias ohmyzsh="nvim ~/.oh-my-zsh"
alias vimconfig="nvim ~/.config/nvim/init.vim"

# ----------------------
# Port and networking
# ----------------------
alias showports="lsof -i -P -n | grep LISTEN"

# ----------------------
# Kubectl
# ----------------------
alias k="kubectl"
alias kx="kubectl config get-contexts"
alias kxs="kubectl config use-context"

# ----------------------
# Terraform
# ----------------------
alias tf="terraform"

# ----------------------
# PHP Compatibility checker
# ----------------------
alias phpcc='docker run --rm -it --init -v "$PWD:$PWD" -w "$PWD" jlighter/phpcs:latest -p -n --extensions="inc,php,php3,php4,php5,php7,php8,phtml"'
alias phpstan='docker run --rm -v $(pwd):/app -v $(pwd)/../../phpstan.neon:/tmp/phpstan.neon ghcr.io/phpstan/phpstan analyse -c /tmp/phpstan.neon /app'

# ----------------------
# vim
# ----------------------
alias vim='nvim'
alias v='nvim'
alias vi='nvim'

# ----------------------
# Ranger
# ----------------------
alias r='ranger'

# ----------------------
# Bat
# ----------------------
alias cat='bat --color=always'
