[user]
	email = heroguelle.julien@gmail.com
	name = JLighter
[alias]
	quickshare = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
[http]
	sslCAinfo = /etc/ssl/certs/ca-certificates.crt
	sslverify = true
[core]
	autocrlf = input
