[user]
	email = heroguelle.julien@gmail.com
	name = Julien Heroguelle
[alias]
	quickshare = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
[http]
	sslverify = true
[core]
	autocrlf = input
[pull]
	rebase = true
[credential]
	helper = store
[mergetool "gitblade"]
	cmd = \"/usr/lib/gitblade/gitblade\" -c \"\"
	trustExitCode = true
[cola]
	spellcheck = false
[url "ssh://git@github.com/jlighter"]
	insteadOf = https://github.com/jlighter
